.container {
  width: 100%;
  height: auto;
  padding: 0;
  flex-direction: column;
  margin: 0;
}
.menu {
  width: 100%;
  height: 300px;
}
.menu_list li {
  padding-left: 24px;
}
.menu_list li.active > a,
.menu_list li:hover > a {
  color: #808592;
}
.identification-head {
  height: auto;
}
.identification-head_info {
  display: flex;
  padding-left: 24px;
  flex-direction: column;
  height: auto;
}
.identification-head_bank {
  padding: 16px;
  display: flex;
  flex-direction: column;
  height: auto;
}
.identification-head_bank legend {
  padding-left: 8px;
}
.identification-head_bank .bank-card_face,
.identification-head_bank .bank-card-out {
  border-radius: 15px;
  background-color: #f7f8f8;
  border: 1px solid #e4e9ee;
}
.identification-head_bank .bank-card-out {
  width: 100%;
  margin: 16px 0;
  padding-left: 0;
}
.identification-head_bank .bank-card_face {
  position: inherit;
  width: 100%;
}
input.bank-card.card-user {
  width: 95%;
}
input.bank-card.card-number {
  width: 60px;
}
.input_card-cvc-help {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border: 1px solid #e4e9ee;
  color: #e4e9ee;
  font-size: 19px;
  text-align: center;
  outline: none;
}
.expiration-date select {
  color: #373c43;
  font-family: Arial;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}
.card-user::placeholder {
  color: #bec6cf;
}
.card-user {
  font-family: Arial;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}
.identification-head .form-submit {
  position: inherit;
}
.identification-foot {
  height: auto;
}
.identification-foot_text {
  font-size: 15px;
  justify-content: normal;
  padding: 24px;
  padding-bottom: 16px;
}
.identification-foot p {
  margin: 0;
  padding-bottom: 8px;
}
