.container {
  margin: 0;
  flex-direction: column;
  height: auto;
}
.menu {
  width: 100%;
}
.menu_list li {
  padding: 0 0 0 24px;
}
.identification {
  height: auto;
}
.identification-head {
  max-width: 768px;
  height: auto;
}
.identification-head_bank {
  height: auto;
  display: flex;
  flex-direction: row;
}
.identification-head_bank .bank-card-out {
  margin: 40px 8px 0 0;
}
.identification-head_bank .bank-card_face {
  position: inherit;
}
.card-user::placeholder {
  color: #bec6cf;
}
.identification-head .form-submit {
  margin: 16px;
  position: initial;
}
.identification-foot {
  height: auto;
}
.identification-foot_text {
  padding-bottom: 16px;
}
