.container {
  margin: 0;
}
.menu {
  width: 200px;
}
.menu_list li {
  padding: 0 0 0 24px;
}
.identification {
  width: auto;
}
.identification-head {
  max-width: 1000px;
}
.data-label {
  float: left;
  margin-right: 40px;
}
.identification-head_bank {
  padding-left: 24px;
}
.identification-head_bank .bank-card-out {
  margin-right: 16px;
}
.identification-foot_text {
  padding: 24px;
}
.identification-foot {
  height: auto;
}
